<div class="mt-5">
<h3 class="text-center">{{blog?.title}}</h3>
<div class="row m-2 p-4">
    <div class="col-md-5">
        <img class="img-fluid" src={{blog?.imgurl}}/>
    </div>
    <div class="col-md-7">
        <p class="badge bg-warning">{{blog?.category}}</p>
        <p class="text-justify">{{blog?.content}}</p>
        <span class="badge bg-primary">{{blog?.created | date}}</span>
        <p>
        <span class="badge bg-success">{{blog?.userid}}</span>
    </p>
    </div>
</div>
</div>

